* {
  font-family: 'Montserrat', sans-serif;
}

    

.logoICYTE{
    padding: 0;
    margin-top: 1rem;
    margin-left: 0.1rem;
    margin-right: 2rem;
}


.logoICYTE img {
    width: 90px;
    padding: 0.1rem;
    background-color: aliceblue;  
    border: solid 1px rgb(5, 5, 5);
    border-radius: 4px;
}

.logoICYTE img:hover {
    width: 90px;
    background-color: rgb(127, 166, 199);
    border: solid 1px rgb(7, 7, 7);
    border-radius: 4px;
}



main{
    margin-top: 150px;
    width: 100%;
  }
  @media screen and (max-width: 640px) {
    main {
        margin-top: 200px;
    }
    }

 


  /*index*/

.fig-caos img{
    max-width: 400px;
    height: auto;
  /*  padding: 1rem;*/

}

.seccion1{
    min-height: 300hv;
    width: 100%;
    padding: 1.5rem;
    text-align: justify;
    font-size: 1.2rem;
    color:black;
}

.galeria{
    width: 50%;
    padding: 20px;  
    margin-left: auto;
     margin-right:auto  ; 
}


.agaleria img{
    width: 20%;
    height: auto;
    padding: 20px;     
}

/*investigadores*/
.investigadores{
font-size: 2rem;
margin-left: 1rem;
    }

.cada-uno{
    font-size: 1.4rem;
    margin-left: 2rem;
}


.foto2 img{
        width: 100%;
        height: auto;
        padding: 0.5rem;
        }
    .biblio2 {
        padding: 1rem;
        margin-right: 2rem;
        background: rgb(248, 247, 247);
        width: 97%;
        height: auto;
        text-align: justify;
     }


     /*Publicaciones*/

     .marCont{
        margin-left: auto;
        margin-right: auto;

     }
     .sum_banner_link {
        opacity: 0;
        animation: sum_kf_aparecer_de_arriba 1s;
        -webkit-animation: sum_kf_aparecer_de_arriba 1s;
        animation-fill-mode: forwards;
        animation-delay: .2s;
    }
    
    .sum_banner_link_1 {
        opacity: 0;
        animation: sum_kf_aparecer_de_arriba 1s;
        -webkit-animation: sum_kf_aparecer_de_arriba 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.7s;
    }
    
    .sum_banner_link_2 {
        opacity: 0;
        animation: sum_kf_aparecer_de_arriba 1s;
        -webkit-animation: sum_kf_aparecer_de_arriba 1s;
        animation-fill-mode: forwards;
        animation-delay: 1.2s;
    }

    .sum_banner_link_3 {
        opacity: 0;
        animation: sum_kf_aparecer_de_arriba 1s;
        -webkit-animation: sum_kf_aparecer_de_arriba 1s;
        animation-fill-mode: forwards;
        animation-delay: 1.7s;
    }

    .lista-pub li{

        list-style: none;

    }

     .lista-pub li summary{
         font-weight: bold;
        font-size:1.1rem;
        padding: 1rem;
        text-decoration: none;
        color:black
     }

     .lista-pub li summary:hover{
        font-size:1.1rem;
        padding: 1rem;
        text-decoration: none;
        color:rgb(230, 14, 14);
        font-weight: bold;
     }
     .titulo-pub{
         padding:0.3rem;
         text-align: center;
         font-weight: bold;
     }
.art-ISI{
        padding:10px;
    }

    /*contacto*/

    .elform{
        padding: 1rem;
    }
    .icyte{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
  
    .mapa{
        width: 60%;
        height: auto;
    }
    .cont-proy{

        margin-top:10px;
    }



      .proy {
     
        padding: 2rem;
        text-align: center;
        background-color: rgb(252, 206, 120);
        margin-bottom: 20px;
        margin-left: auto;
         margin-right:auto;
         color:rgb(22, 4, 59);
         box-shadow: 4px 4px 0 0;
       color:rgb(156, 155, 155);
       border-radius: 7px;
       width:15rem;
    }
    .proy:hover {
        padding: 2rem;
        text-align: center;
        background-color: rgb(253, 172, 22);
        color:rgb(250, 247, 247);
        margin-bottom: 20px;
        font-weight: bold;
        width:15rem;
    }

    .proy a{
        color:rgb(5, 5, 5);
        text-decoration: none;
        padding: 20px;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .proy1 a{
        color:rgb(5, 5, 5);
        text-decoration: none;
        padding: 20px;
        font-weight: bold;
        font-size: 1.5rem;
    }

    /*proyecto 1*/
    .color_tit{
        color:rgba(181, 119, 5, 0.701);
    }
    .contiene-datos-proy{
        display: flex;
        width: 100%;
        flex-wrap: wrap; 

    }
  .descripcion{
        text-align: justify;
        width:100%;
        padding: 15px;
    }

    .datos-contacto{
       
        width: 100%;
        padding: 1rem;
        text-align: right;
        
    }

    /*Proyectos finales de grado finalizados*/

    .proyectos-finalizados a{
        padding: 1rem;
        text-decoration: none;
        color:black;
        font-size: 1.2rem;
         font-weight: bold;   

    }

    .proyectos-finalizados li{
  
         list-style: none;
    }
    .proyectos-finalizados a:hover{

        color:rgb(244, 4, 4);
    }
    .proyectos-encurso summary{
        padding: 1rem;
         color:black;
        font-size: 1.2rem;
         font-weight: bold;   
    }
    .proyectos-encurso summary:hover{
        color:rgb(244, 4, 4);
    }
    .proyectos-encurso li{
          list-style: none;
   }
   .referencias{
    list-style: none;
   }

   main h1{
 margin-left: 2rem;

   }

   .enlaces{
    text-decoration: none;
    color:black;
    font-weight: bold;

   }

   .mapa{
       padding:5px;
       width: 85%;
       height: auto;
   }